@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --main-purple: #635fc7;
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --very-dark-gray: #20212c;
  --dark-gray: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-gray: #828fa3;
  --lines-light: #e4ebfa;
  --light-gray: #f4f7fd;
  --white: #ffffff;
  --red: #ea5555;
  --red-hover: #ff9898;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Plus Jakarta Sans", serif;
  background-color: var(--light-gray);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

/* ali start */

header {
  height: 96px;
  background-color: var(--white);
  display: flex;
  align-items: center;

  .header-logo {
    padding: 16px;
    cursor: pointer;
  }

  .toggle-menu-btn {
    border: none;
    padding-block: 24px;
    background-color: transparent;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    color: var(--black);
    color: var(--black);
  }

  .header-btn-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    .plus-btn {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: var(--main-purple);
      color: var(--white);
      border-radius: 24px;
      padding: 10px 18px;

      &:hover {
        background-color: var(--main-purple-hover);
      }

      img {
        margin-right: 0;
      }
    }
  }
}

.boards-menu-container {
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s ease;
}

.boards-menu {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  max-width: 264px;
  padding-block: 16px;
  padding-right: 24px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 54px;

  h2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    letter-spacing: 2.4px;
    color: var(--medium-gray);
    margin-left: 24px;
    margin-bottom: 19px;
  }

  img {
    fill: var(--medium-gray);
  }

  button {
    border: none;
    background-color: transparent;
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    padding: 14px 16px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    color: var(--medium-gray);
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;

    &:hover {
      background-color: var(--light-gray);
      color: var(--main-purple);
      path {
        fill: var(--main-purple);
      }
    }

    &.active {
      background-color: var(--main-purple);
      color: var(--white);
      path {
        fill: var(--white);
      }
    }
  }

  >button:nth-child(3) {
    color: var(--main-purple);
    margin-bottom: 16px;
    path {
      fill: var(--main-purple);
    }
  }
}

.boards button svg {
  path {
    fill: var(--medium-gray);
  }
}

.theme-container {
  padding: 14px 57px;
  background-color: var(--light-gray);
  margin-left: 16px;
  border-radius: 6px;

  label {
    display: flex;
    align-items: center;
    gap: 23px;
  }
}

.switch {
  appearance: none;
  background-color: var(--main-purple);
  height: 20px;
  width: 40px;
  display: inline-flex;
  margin: 0;
  border-radius: 999px;
  box-sizing: border-box;
  padding: 4px;
  transition: all .8s ease-in-out;
  &:hover {
    background-color: var(--main-purple-hover);
  }
}

.switch:after {
  content: "";
  background-color: var(--white);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.85, 0, 0.15, 1);
}

.switch:checked:after {
  transform: translateX(100%);
}

.modal-container {
  padding-right: 8px;
  position: relative;

  .dot-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 8px 10px 16px;
    display: flex;
    align-items: center;

    img {
      margin-right: 0;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.three-dot-modal {
  position: absolute;
  top: 130%;
  width: 196px;
  padding: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
  align-items: start;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--white);
  animation: fadeIn 0.4s ease;
  box-shadow: 0 0 8px #364e7e1a;
  z-index: 999;
  button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    color: var(--medium-gray);
    &:last-child{
      color: var(--red);
    }
  }
}

/* ali end */

/* sude start */

body.dark-mode,
body.dark-mode .drop-down-menu-container.open-menu .drop-down-menu{
  background-color: var(--very-dark-gray);
  box-shadow: 0px 10px 20px 0px #364e7e40;
  transition: all 0.5s;
}

body.dark-mode .task-detail-status.selecting .task-detail-options {
  background-color: var(--very-dark-gray);
  transition: all 0.5s;
  box-shadow: none;
}

.container {
  padding: 24px 16px;
  overflow-x: auto;
  min-height: calc(100vh - 96px);
  height: 100%;
}

.task-columns-container {
  display: flex;
  gap: 24px;
  height: 100%;
}

.task-column h2 {
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 2.4px;
  color: var(--medium-gray);
  margin-bottom: 24px;
  width: 280px;
}

body.dark-mode .task-column h2,
body.dark-mode .task-column-item p {
  color: var(--medium-gray);
}

body.dark-mode .task-column h2,
body.dark-mode .task-column-item p {
  color: var(--medium-gray);
}

.task-column-container {
  height: 100%;
}

.task-column-container .empty-task-column{
  border: 2px dashed var(--lines-light);
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: 100%;
}

.task-column h2 span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #49c4e5;
}

.task-column:nth-child(3n + 1) h2 span {
  background-color: #49c4e5;
}

.task-column:nth-child(3n + 2) h2 span {
  background-color: #8471f2;
}

.task-column:nth-child(3n) h2 span {
  background-color: #67e2ae;
}

.task-column-item {
  padding: 23px 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #364e7e1a;
  margin-bottom: 20px;
  width: 280px;
  cursor: pointer;
}

body.dark-mode .task-column-item,
body.dark-mode .task-details-container,
body.dark-mode .delete-modal-container {
  background-color: var(--dark-gray);
  box-shadow: 0px 4px 6px 0px #364e7e1a;
}

.task-column-item:last-child {
  margin-bottom: 0;
}

.task-column-item h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
  color: var(--black);
  margin-bottom: 8px;
}

body.dark-mode .task-column-item h3,
body.dark-mode .task-details-container-top h2,
body.dark-mode .task-details-subtask p,
body.dark-mode .task-detail-status .task-detail-trigger {
  color: var(--white);
}

body.dark-mode .task-column-item h3,
body.dark-mode .task-details-container-top h2,
body.dark-mode .task-details-subtask p,
body.dark-mode .task-detail-status .task-detail-trigger {
  color: var(--white);
}

.task-column-item p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--medium-gray);
}

.new-column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  background: linear-gradient(180deg, #e9effa 0%, rgba(233, 239, 250, 0.5) 100%);
  border-radius: 6px;
  margin-top: 39px;
  flex-shrink: 0;
  cursor: pointer;
  &:hover {
    background: var(--lines-light);
  }
}

body.dark-mode .new-column {
  background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
}

.new-column p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--medium-gray);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.task-details-container,
.delete-modal-container,
.editTask-container, 
.addNewTask-container,
.addBoard-container{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: var(--white);
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 480px;
  max-height: 80vh;
}

.task-details-container-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.task-details-container-top h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  color: var(--black);
}

.drop-down-menu-container {
  position: relative;
}

.drop-down-menu-container img {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: transparent;
}

.drop-down-menu-container img {
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 8px;
  background-color: transparent;
}

.drop-down-menu-container.open-menu .drop-down-menu {
  display: block;
  position: absolute;
  top: 32px;
  right: -44px;
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px #364e7e40;
  width: 170px;
}

.drop-down-menu-container .drop-down-menu {
  display: none;
}

.drop-down-menu p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 8px;
  cursor: pointer;
}

.drop-down-menu p.delete {
  color: var(--red);
  margin-bottom: 0;
}

.task-details-container p.description {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 24px;
}

.task-details-subtasks-container h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 16px;
}

.task-details-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.task-details-subtask {
  padding: 12px 8px 16px 12px;
  background-color: var(--light-gray);
  border-radius: 4px;
  cursor: pointer;
}

body.dark-mode .task-details-subtask {
  background-color: var(--very-dark-gray);
}

.task-details-subtask label {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.task-details-subtask label input {
  display: none;
}

.task-details-subtask label span {
  width: 16px;
  height: 16px;
  background-color: var(--white);
  display: inline-block;
  border: 1px solid #828fa33f;
  border-radius: 2px;
}

body.dark-mode .task-details-subtask label span {
  background-color: var(--dark-gray);
}

body.dark-mode .task-details-subtask label span {
  background-color: var(--dark-gray);
}

.task-details-subtask label:has(input:checked) span {
  background-color: var(--main-purple);
  border: 1px solid var(--main-purple);
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.task-details-subtask p {
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--black);
}

.task-details-subtask p.completed {
  color: rgba(0, 1, 18, 0.5);
  text-decoration: line-through;
}

body.dark-mode .task-details-subtask p.completed {
  color: rgba(255, 255, 255, 0.5);
}

body.dark-mode .task-details-subtask p.completed {
  color: rgba(255, 255, 255, 0.5);
}

.task-detail-status {
  position: relative;
}

.task-detail-status h3 {
  margin-bottom: 8px;
}

.task-detail-status .task-detail-trigger {
  width: 100%;
  border: 1px solid var(--lines-light);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--black);
  cursor: pointer;
}

body.dark-mode .task-detail-status .task-detail-trigger {
  border: 1px solid var(--lines-dark);
}

.task-detail-status .task-detail-options {
  display: none;
}

.task-detail-status.selecting .task-detail-options {
  position: absolute;
  top: 73px;
  left: 0;
  background-color: var(--white);
  z-index: 3;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 10px 20px 0px #364e7e40;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-detail-trigger img {
  transition: transform 0.3s ease-in-out;
}

.task-detail-status.selecting .task-detail-trigger img {
  transform: rotate(180deg);
}

.task-detail-status .task-detail-options p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  cursor: pointer;
}

.delete-modal-container h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  color: var(--red);
  margin-bottom: 24px;
}

.delete-modal-container p {
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 24px;
}

.delete-modal-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.delete-modal-buttons button {
  padding: 8px 8px 9px;
  background-color: rgba(99, 95, 199, 0.1);
  color: var(--main-purple);
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

body.dark-mode .delete-modal-buttons button {
  background-color: var(--white);
}

body.dark-mode .delete-modal-buttons button {
  background-color: var(--white);
}

.delete-modal-buttons button.delete-btn {
  color: var(--white);
  background-color: var(--red);
}

body.dark-mode .delete-modal-buttons button.delete-btn {
  background-color: var(--red);
}

.empty-columns-screen {
  width: 100%;
  height: calc(100dvh - 102px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.empty-columns-screen p {
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--medium-gray);
}

.empty-columns-screen button {
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
  color: var(--white);
  background-color: var(--main-purple);
  padding: 15px 18px;
  border-radius: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* sude end */

/* kerem start */
.editTask-container,
.addBoard-container {
  overflow-y:scroll;
  h2 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    margin-bottom: 24px;
  }
  h3 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    color: var(--medium-gray);
    margin-bottom: 8px;
  }
  textarea {
    display: block;
    min-width: 293px;
    min-height: 112px;
    padding: 7px 16px 34px;
    color: var(--medium-gray);
    border: 1px solid var(--lines-light);
    border-radius: 4px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 13px;  
    line-height: 23px;
    text-align: left;
    resize: none;
}
}
.editTask-subtasksContainer,
.addNew-subtasksContainer,
.addBoard-container,
.addBoard-input-container{
  margin-block: 24px;
  display: grid;
  gap: 12px;
    h3{
      margin: 0;
      }
    button{
      background-color: rgba(99, 95, 199, 0.1);
      color: var(--main-purple);
      border: none;
      padding: 8px 16px;
      border-radius: 20px;
      font-family: Plus Jakarta Sans;
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
    }
}
.editTask-subtask,
.subtask-item,
.new-column-input{
  width: 100%;
  display: flex;
  justify-content: space-between;
  input{
    width: 100%;
  }
  button{
    background-color: var(--white);
    border: none;
  }
  input{
    padding-block: 9px;
    padding-left: 16px;
    outline: none;
    border: 1px solid var(--lines-light);
    border-radius: 4px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
  }
}
.editTask-title-input,
.addNewTask-title-input,
.addBoard-title-input{
  width: 100%;
  padding-block: 9px;
  padding-left: 16px;
    outline: none;
    border: 1px solid var(--lines-light);
    border-radius: 4px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
}
.task-detail-status button{
  background-color: var(--main-purple);
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  color: var(--white);
  border: none;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}

.editTask-description,
.addNew-description{
  margin-top: 24px;
}
.addNewTask-container{
  overflow-y:scroll;
  h2 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.68px;
    margin-bottom: 24px;
  }
  h3 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 12px;
    line-height: 15.12px;
    color: var(--medium-gray);
    margin-bottom: 8px;
  }
  textarea {
    display: block;
    min-width: 293px;
    min-height: 112px;
    padding: 7px 16px 34px;
    color: var(--medium-gray);
    border: 1px solid var(--lines-light);
    border-radius: 4px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: 13px;  
    line-height: 23px;
    text-align: left;
    resize: none;
}
}
.select-status{
  display: block;
  width: 100%;
  border: 1px solid var(--lines-light);
  border-radius: 4px;
  background-color: var(--white);
  padding: 8px 16px;
  font-family: Plus Jakarta Sans; 
  font-weight: 500;
  font-size: 13px;  
  line-height: 23px;
}
.addNewTask-createTask{
  background-color: var(--main-purple);
  width: 100%;
  padding: 8px 16px;
  border-radius: 20px;
  margin-top: 24px;
  color: var(--white);
  border: none;
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
}
.addBoard-input-container{
  margin-block: 0;
}
/* kerem end */

@media only screen and (min-width: 768px) {
  
  /* ali start */

  header hr {
    width: 1px;
    height: 100%; 
    margin-inline: 0; 
    border: none;
    background-color: var(--lines-light);
  }
  header .header-logo {
    padding: 24px 84px 24px 24px;
  }

  .toggle-menu-btn {
    padding-inline: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 25.2px;
  }
  
  .plus-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
  }

  .sidebar-btn {
    position: fixed;
    bottom: 32px;
    left: 0;
    padding: 19px 22px 18px 18px;
    border: none;
    background-color: var(--main-purple);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    cursor: pointer;
    &:hover {
      background-color: var(--main-purple-hover);
    }
  }

  .boards-menu{
    position: fixed;
    top: 96px;
    left: -262px;
    height: calc(100vh - 96px);
    background-color: var(--white);
    padding-block: 16px;
    padding-right: 24px;
    border-right: 2px solid var(--lines-light);
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    z-index: 2;
    width: 262px;
    padding-block: 0;
    padding-top: 31px;
    transition: left 0.5s ease;
    animation: SlideLeft 0.5s ease;
  }
  
  .boards-menu.open-side {
    left: 0px;
    animation: slideRight 0.5s ease;
  }


  .theme-container {
    margin-top: auto;
    margin-bottom: 16px;
    margin-left: 12px;
  }

  .sidebar-off-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 18.9px;
    margin-bottom: 32px;
    padding: 0 ;
  }

  @keyframes slideLeft {
    from {
      transform: translateX(500px);
    }
    to {
      transform: translateX(0px);
    }
    
  }

  @keyframes slideRight {
    from {
      transform: translateX(-261px);
    }
    to {
      transform: translateX(0);
    }
  } 

  .container {
    transition: margin-left 0.5s ease;
  }
  
  .container.shift-right {
    margin-left: 262px;
  }
  
  /* ali end */



  /* sude start */

  .container {
    padding: 24px 24px 64px;
    overflow-x: auto;
  }

  .task-details-container,
  .delete-modal-container {
    width: 480px;
    padding: 32px;
  }

  .task-details-container-top {
    gap: 24px;
  }

  .task-details-subtask {
    padding: 12px;
  }

  .delete-modal-buttons {
    flex-direction: row;
  }

  .delete-modal-buttons button {
    width: 100%;
  }

  .empty-columns-screen {
    height: calc(100dvh - 129px);
    gap: 24px;
  }

  /* sude end */
}

@media only screen and (min-width: 1280px){

  /* sude start */

  .container {
    padding: 24px 24px 50px;
    overflow-x: auto;
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100vh - 96px);
  }

  .empty-columns-screen {
    height: calc(100dvh - 145px);
    gap: 32px;
  }

  .empty-columns-screen button:hover {
    background-color: var(--main-purple-hover);
    transition: all 0.5s;
  }

  .task-columns-container {
    height: 100%;
  }

  .task-column-container .empty-task-column{
    height: calc(100% - 39px);
  }

  .task-column-item:hover h3,
  .new-column:hover p,
  body.dark-mode .task-column-item:hover h3 {
    color: var(--main-purple);
    font-weight: 700;
    transition: all 0.5s;
  }

  .task-details-subtask:hover,
  body.dark-mode .task-details-subtask:hover {
    background-color: rgba(99, 95, 199, 0.25);
    transition: all 0.5s;
  }

  .drop-down-menu-container img:hover {
    background-color: var(--light-gray);
    transition: all 0.5s;
  }

  body.dark-mode .drop-down-menu-container img:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
  }

  .task-detail-status .task-detail-trigger:hover,
  body.dark-mode .task-detail-status .task-detail-trigger:hover {
    border-color: var(--main-purple);
    transition: all 0.5s;
  }

  .task-detail-status .task-detail-options p:hover {
    font-weight: 700;
    color: var(--black);
    transition: all 0.5s;
  }

  body.dark-mode .task-detail-status .task-detail-options p:hover {
    font-weight: 700;
    color: var(--white);
    transition: all 0.5s;
  }

  .drop-down-menu p:hover {
    font-weight: 700;
    transition: all 0.5s;
  }

  .delete-modal-buttons button:hover {
    background-color: rgba(99, 95, 199, 0.25);
    transition: all 0.5s;
  }

  body.dark-mode .delete-modal-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transition: all 0.5s;
  }

  .delete-modal-buttons button.delete-btn:hover,
  body.dark-mode .delete-modal-buttons button.delete-btn:hover {
    background-color: var(--red-hover);
    transition: all 0.5s;
  }

  /* sude end */
}
