@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
  --main-purple: #635FC7;
  --main-purple-hover: #A8A4FF;
  --black: #000112;
  --very-dark-gray: #20212C;
  --dark-gray: #2B2C37;
  --lines-dark: #3E3F4E;
  --medium-gray: #828FA3;
  --lines-light: #E4EBFA;
  --light-gray: #F4F7FD;
  --white: #FFFFFF;
  --red: #EA5555;
  --red-hover: #FF9898;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: "Plus Jakarta Sans", serif;
  background-color: var(--light-gray);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", serif;
}

/* sude start */

.container{
  padding: 24px 16px;
  display: flex;
  gap: 24px;
  overflow-x: auto;
}

.task-column h2{
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 2.4px;
  color: var(--medium-gray);
  margin-bottom: 24px;
  width: 280px;
}

.task-column h2 span{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: #49C4E5;
}

.task-column:nth-child(3n + 1) h2 span{
  background-color: #49C4E5;
}

.task-column:nth-child(3n + 2) h2 span{
  background-color: #8471F2;
}

.task-column:nth-child(3n) h2 span{
  background-color: #67E2AE;
}

.task-column-item{
  padding: 23px 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 4px 6px 0px #364E7E1A;
  margin-bottom: 20px;
  width: 280px;
}

.task-column-item:last-child{
  margin-bottom: 0;
}

.task-column-item h3{
  font-weight: 700;
  font-size: 15px;
  line-height: 18.9px;
  letter-spacing: 0px;
  color: var(--black);
  margin-bottom: 8px;
}

.task-column-item p{
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--medium-gray);
}

.new-column{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
  border-radius: 6px;
  margin-top: 39px;
  flex-shrink: 0;
}

.new-column p{
  font-weight: 700;
  font-size: 24px;
  line-height: 30.24px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--medium-gray);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.task-details-container, .delete-modal-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: var(--white);
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
  max-height: 80vh;
}

.task-details-container-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}

.task-details-container-top h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  color: var(--black);
}

.drop-down-menu-container{
  position: relative;
}

.drop-down-menu-container.open-menu .drop-down-menu{
  display: block;
  position: absolute;
  top: 32px;
  right: -44px;
  padding: 16px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px #364E7E40;
  width: 170px;
}

.drop-down-menu-container .drop-down-menu{
  display: none;
}

.drop-down-menu p{
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 8px;
}

.drop-down-menu p.delete{
  color: var(--red);
  margin-bottom: 0;
}

.task-details-container p.description{
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 24px;
}

.task-details-subtasks-container h3{
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 16px;
}

.task-details-subtasks{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.task-details-subtask{
  padding: 12px 8px 16px 12px;
  background-color: var(--light-gray);
  border-radius: 4px;
}

.task-details-subtask label{
  display: flex;
  align-items: center;
  gap: 16px;
}

.task-details-subtask label input{
  display: none;
}

.task-details-subtask label span{
  width: 16px;
  height: 16px;
  background-color: var(--white);
  display: inline-block;
  border: 1px solid #828FA33F;
  border-radius: 2px;
}

.task-details-subtask label:has(input:checked) span{
  background-color: var(--main-purple);
  border: 1px solid var(--main-purple);
  background-image: url(../images/check-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

.task-details-subtask p{
  font-weight: 700;
  font-size: 12px;
  line-height: 15.12px;
  letter-spacing: 0px;
  color: var(--black);
}

.task-details-subtask p.completed{
  color: rgba(0, 1, 18, 0.5);
  text-decoration: line-through;
}

.task-detail-status{
  position: relative;
}

.task-detail-status h3{
  margin-bottom: 8px;
}

.task-detail-status .task-detail-trigger{
  width: 100%;
  border: 1px solid var(--lines-light);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--black);
}

.task-detail-status .task-detail-options{
  display: none;
}

.task-detail-status.selecting .task-detail-options{
  position: absolute;
  top: 66px;
  left: 0;
  background-color: var(--white);
  z-index: 3;
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 10px 20px 0px #364E7E40;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.task-detail-trigger img {
  transition: transform 0.3s ease-in-out;
}

.task-detail-status.selecting .task-detail-trigger img{
  transform: rotate(180deg);
}

.task-detail-status .task-detail-options p{
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
}

.delete-modal-container h2{
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
  letter-spacing: 0px;
  color: var(--red);
  margin-bottom: 24px;
}

.delete-modal-container p{
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  color: var(--medium-gray);
  margin-bottom: 24px;
}

.delete-modal-buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.delete-modal-buttons button{
  padding: 8px 8px 9px;
  background-color:rgba(99, 95, 199, 0.1);
  color: var(--main-purple);
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-modal-buttons button.delete-btn{
  color: var(--white);
  background-color: var(--red);
}

/* sude end */

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 1280px){

}